@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
	font-size: 16px;
}


.container {
	width: 800px;
	max-width: 90%;
	margin-inline: auto;
}

.logo {
	color: #1c1c1c;
	padding-block: 2rem;

}

.logo a {
	text-decoration: none;
	font-size: 3rem;
}

.logo .locale {
	/* background-color: red; */
	font-size: 1rem;
}


.intro {
	font-size: 2rem;
}


.btn-submit {
	background-color: #1c1c1c;
	width: 100%;
	/* max-width: 90%; */

	padding-block: 1.9rem;

	margin-block: 1rem;

	margin-inline: auto;


	font-weight: bold;
	font-size: 1.3rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-submit:hover,
.btn-submit:disabled {
	background-color: #0f0f0fb6 !important;
}

.btn-link {
	outline: 1px solid #1c1c1c;
	border-radius: .2rem;
	padding: 1rem;

	transition: background-color 200ms ease, color 200ms ease;
}

.btn-link:hover {
	background-color: #1c1c1c;
	color: whitesmoke;
}

.text-h1 {
	font-size: 3rem;
}



/* Forms */

.input-group {
	display: flex;
	justify-content: space-between;

	margin-block: 1rem;
}

/* Small screens */
@media screen and (max-width: 780px) {
	.input-group {
		flex-direction: column;
	}
}


/* medium screens */
@media (min-width: 781px) and (max-width: 860px){
	.input-group {
		gap: 2rem;
	}
}

/* Large screens */
@media screen and (min-width: 1000px) {}

.input-group .ant-col {
	width: 24rem !important;
	max-width: 100% !important;
}


.upload label {
	/* background-color: red; */
	font-size: 1rem;
}

/* Ant design */

.ant-input-prefix{
	display: inline-block;
	margin-right: 1rem !important;
}
.ant-input-prefix svg{

	width: 1.5rem;
	height: 1.5rem;

	/* height: 60%; */
}

.ant-input {
	padding-block: .8rem !important;
	padding-inline: 1rem;
}

.ant-select{
	height: 3rem;
}

.dynamic-delete-button {
	margin-left: 1rem;
	
}

.dynamic-delete-button svg {
	top: .45rem;
	position: relative;
	width: 1.5rem;
	height: 1.5rem;
}